@layer components{
    .form-style{
        @apply flex flex-col items-center border-l-2 border-r-2 border-b-2 border-black rounded-l-2xl rounded-r-2xl 
        w-2/8 justify-self-center gap-5
    }

    .header-form{
        @apply bg-fuchsia-600 w-full flex justify-center text-white rounded-t-2xl
    }

    .inputs-form{
        @apply flex flex-col items-center gap-10
    }

    .input-style{
        @apply grid items-center
    }
    input{
        @apply border-b-2 border-gray-600
    }
    .logo{
        @apply w-1/9 h-1/9
    }
    a{
        @apply p-2.5
    }
}