@layer components{
    .form-style{
        @apply flex flex-col items-center 
        border-2 border-black rounded-2xl 
        w-full max-w-md gap-5 bg-white shadow-lg;
    }

    .header-form{
        @apply  w-full flex justify-center text-black rounded-t-2xl font-bold mt-1.5
    }

    .inputs-form{
        @apply flex flex-col items-center gap-10
    }

    .input-style{
        @apply grid items-center
    }
    input{
        @apply border-b-2 border-gray-600
    }
    .logo{
        @apply w-1/9 h-1/9
    }
    .login{
        @apply min-h-screen w-full flex items-center justify-center bg-gradient-to-tl from-fuchsia-600 to-white;
    }
    a{
        @apply p-2.5
    }
}